<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dominicmoran.pgt" 
        version="1.0.0" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:gap="http://phonegap.com/ns/1.0">

    <name>Employee Directory</name>
    <description>
        A simple employee directory application
    </description>
    <author email="dominicmoran@gmail.com" href="http://dominicmoran.com">
        Christophe Coenraets, Dominic Moran
    </author>

    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
</widget>
